<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Facturacion - Innovasystem</title>

	<style type="text/css">
.contenido {
	width: 65% !important;
	float: left;
}

.menu {
	width: 30% !important;
	float: left;
}

.pagina {
	height: 100% !important;
	width: 100% !important;
}
</style>

</h:head>
<h:body>
	<p:growl id="msgs" showDetail="true" globalOnly="true" />
	<div class="pagina">
		<div class="menu">
			<ui:include src="../menu.xhtml" />
		</div>
		<div class="contenido">
			<ui:insert name="content"></ui:insert>
		</div>
	</div>

	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Sí" icon="fa fa-check"
			styleClass="ui-confirmdialog-yes" />
		<p:commandButton value="No" styleClass="ui-confirmdialog-no"
			icon="fa fa-close" />
	</p:confirmDialog>

</h:body>
</html>
