<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Login de aplicacion</title>
</h:head>
<h:body>
	<h:form>
		<p:growl id="msgs" showDetail="true" globalOnly="true"/>
		<p:panel id="basic" header="Login de aplicacion" 
			style="margin-bottom:20px">
			<h:panelGrid columns="1" cellpadding="10">
				<p:inputText value="#{loginMb.usuario}" placeholder="Usuario">
					<p:ajax event="change" process="@this"
						listener="#{loginMb.busquedaAjax}"
						update="msgs" />
				</p:inputText>
				<p:inputText value="#{loginMb.clave}" type="password" placeholder="Contraseña"/>
			</h:panelGrid>
			<p:commandButton action="#{loginMb.login}" value="Login" update="msgs"/>
		</p:panel>
		
		
	</h:form>
</h:body>
</html>