<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<ui:define name="content">
		<h:form id="form">
			<p:panel id="basic" header="Mantenimiento de producto"
				style="margin-bottom:20px">
				<h:panelGrid columns="1" cellpadding="10">
					<h:panelGrid columns="2">
						<p:inputNumber value="#{mantenimientosMb.idBusqueda}"
							decimalPlaces="0" thousandSeparator="" placeholder="Buscar">
							<p:ajax event="change" process="@this" />
						</p:inputNumber>
						<p:commandButton action="#{mantenimientosMb.consultarProductoXPk}"
							oncomplete="PF('verDialog').show()" process="@this"
							icon="fa fa-search" update="msgs,basic,panelVer" />
					</h:panelGrid>
					<p:inputText value="#{mantenimientosMb.productoNuevo.nombre}"
						placeholder="Nombre">
						<p:ajax event="change" process="@this" />
					</p:inputText>

					<p:selectOneMenu converter="ConverterGeneral"
						value="#{mantenimientosMb.productoNuevo.tipoProducto}"
						label="Tipo de Producto">
						<f:selectItem noSelectionOption="true"
							itemLabel="Seleccione un tipo de producto" />
						<f:selectItems value="#{mantenimientosMb.lstTipoProducto}"
							var="obj" itemLabel="#{obj.nombre}" itemValue="#{obj}" />
						<p:ajax event="change" process="@this" />
					</p:selectOneMenu>

					<p:inputTextarea
						value="#{mantenimientosMb.productoNuevo.descripcion}"
						placeholder="Descripcion">
						<p:ajax event="change" process="@this" />
					</p:inputTextarea>




				</h:panelGrid>
				<p:commandButton action="#{mantenimientosMb.crearProducto}"
					process="@this" value="Crear Producto" update="msgs,basic" />

				<p:commandButton action="#{mantenimientosMb.consultarTodosProducto}"
					process="@this" value="Consultar Producto" update="msgs,basic" />

				<p:dataTable var="producto"
					emptyMessage="No hay Registros de Producto"
					value="#{mantenimientosMb.lstProducto}" id="tablaProducto"
					rendered="#{mantenimientosMb.lstProducto!=null}">
					<p:column headerText="Id">
						<h:outputText value="#{producto.productoId}" />
					</p:column>
					<p:column headerText="Nombre">
						<h:outputText value="#{producto.nombre}" />
					</p:column>

					<p:column headerText="Tipo Producto">
						<h:outputText value="#{producto.tipoProducto.nombre}" />
					</p:column>

					<p:column headerText="Descripcion">
						<h:outputText value="#{producto.descripcion}" />
					</p:column>
					<p:column headerText="Mostrar">
						<p:commandButton update="@([id$=panelVer])" process="@this"
							action="#{mantenimientosMb.seleccionarElemento}"
							oncomplete="PF('verDialog').show()" icon="ui-icon-search"
							title="Ver">
						</p:commandButton>
						<p:commandButton update="@([id$=editarOutputPanel])"
							process="@this" action="#{mantenimientosMb.seleccionarElemento}"
							oncomplete="PF('editarDialog').show()" icon="fa fa-fw fa-edit"
							title="Editar">
						</p:commandButton>

						<p:commandButton update="tablaProducto"
							action="#{mantenimientosMb.eliminar}" icon="fa fa-remove">
							<p:confirm header="Confirmación Eliminación" icon="ui-icon-alert"
								message="Está seguro que desea eliminar el Producto #{producto.nombre}" />
						</p:commandButton>

					</p:column>
				</p:dataTable>

			</p:panel>

			<p:dialog header="Informacion de producto" widgetVar="verDialog"
				modal="false" showEffect="fade" hideEffect="fade" resizable="false">
				<p:outputPanel id="panelVer" style="text-align:center;">
					<p:panelGrid columns="2"
						rendered="#{mantenimientosMb.productoConsulta!=null}">
						<h:outputText value="Id:" />
						<h:outputText
							value="#{mantenimientosMb.productoConsulta.productoId}" />

						<h:outputText value="Nombre" />
						<h:outputText value="#{mantenimientosMb.productoConsulta.nombre}" />

						<h:outputText value="Descripcion" />
						<h:outputText
							value="#{mantenimientosMb.productoConsulta.descripcion}" />

					</p:panelGrid>
				</p:outputPanel>
			</p:dialog>

			<p:dialog header="Editar producto" widgetVar="editarDialog"
				modal="false" showEffect="fade" hideEffect="fade" resizable="false">
				<p:outputPanel id="editarOutputPanel" style="text-align:center;">
					<p:panelGrid columns="2"
						rendered="#{mantenimientosMb.productoConsulta!=null}">
						<h:outputText value="Id:" />
						<h:outputText
							value="#{mantenimientosMb.productoConsulta.productoId}" />

						<h:outputText value="Nombre" />
						<p:inputText value="#{mantenimientosMb.productoConsulta.nombre}">
							<p:ajax event="change" process="@this" />
						</p:inputText>

						<h:outputText value="Descripcion" />
						<p:inputText
							value="#{mantenimientosMb.productoConsulta.descripcion}">
							<p:ajax event="change" process="@this" />
						</p:inputText>
					</p:panelGrid>
					<p:commandButton action="#{mantenimientosMb.actualizarProducto}"
						oncomplete="PF('editarDialog').hide()" process="@this"
						icon="fa fa-save" update="msgs,basic,panelVer" />
				</p:outputPanel>
			</p:dialog>

		</h:form>
	</ui:define>
</ui:composition>