<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<ui:define name="content">
		<h:form id="form">
			<p:panel id="basic" header="Mantenimiento de tipo de producto"
				style="margin-bottom:20px">
				<h:panelGrid columns="1" cellpadding="10">
					<h:panelGrid columns="2">
						<p:inputNumber value="#{mantenimientosMb.idBusqueda}"
							decimalPlaces="0" thousandSeparator="" placeholder="Buscar">
							<p:ajax event="change" process="@this" />
						</p:inputNumber>
						<p:commandButton
							action="#{mantenimientosMb.consultarTipoProductoXPk}"
							oncomplete="PF('tipoProductoDialog').show()" process="@this"
							icon="fa fa-search" update="msgs,basic,tipoProductoOutputPanel" />
					</h:panelGrid>
					<p:inputText value="#{mantenimientosMb.tipoProducto.nombre}"
						placeholder="Nombre">
						<p:ajax event="change" process="@this" />
					</p:inputText>
					<p:inputTextarea
						value="#{mantenimientosMb.tipoProducto.descripcion}"
						placeholder="Descripcion">
						<p:ajax event="change" process="@this" />
					</p:inputTextarea>
				</h:panelGrid>
				<p:commandButton action="#{mantenimientosMb.crear}" process="@this"
					value="Crear Tipo Producto" update="msgs,basic" />

				<p:commandButton action="#{mantenimientosMb.consultarTodos}"
					process="@this" value="Consultar Tipo Producto" update="msgs,basic" />

				<p:dataTable var="tipoProducto"
					emptyMessage="No hay Registros de Tipo Producto"
					value="#{mantenimientosMb.lstTipoProducto}" id="tablaTipoProducto"
					rendered="#{mantenimientosMb.lstTipoProducto!=null}">
					<p:column headerText="Id">
						<h:outputText value="#{tipoProducto.tipoProductoId}" />
					</p:column>
					<p:column headerText="Nombre">
						<h:outputText value="#{tipoProducto.nombre}" />
					</p:column>
					<p:column headerText="Descripcion">
						<h:outputText value="#{tipoProducto.descripcion}" />
					</p:column>
					<p:column headerText="Mostrar">
						<p:commandButton update="@([id$=tipoProductoOutputPanel])"
							process="@this" action="#{mantenimientosMb.seleccionarElemento}"
							oncomplete="PF('tipoProductoDialog').show()"
							icon="ui-icon-search" title="Ver">
						</p:commandButton>
						<p:commandButton update="@([id$=editarTipoProductoOutputPanel])"
							process="@this" action="#{mantenimientosMb.seleccionarElemento}"
							oncomplete="PF('editarTipoProductoDialog').show()"
							icon="fa fa-fw fa-edit" title="Editar">
						</p:commandButton>

						<p:commandButton update="tablaTipoProducto"
							action="#{mantenimientosMb.eliminar}" icon="fa fa-remove">
							<p:confirm header="Confirmación Eliminación" icon="ui-icon-alert"
								message="Está seguro que desea eliminar el tipo de Producto #{tipoProducto.nombre}" />
						</p:commandButton>

					</p:column>
				</p:dataTable>

			</p:panel>

			<p:dialog header="Informacion de tipo de producto"
				widgetVar="tipoProductoDialog" modal="false" showEffect="fade"
				hideEffect="fade" resizable="false">
				<p:outputPanel id="tipoProductoOutputPanel"
					style="text-align:center;">
					<p:panelGrid columns="2"
						rendered="#{mantenimientosMb.tipoProductoConsulta!=null}">
						<h:outputText value="Id:" />
						<h:outputText
							value="#{mantenimientosMb.tipoProductoConsulta.tipoProductoId}" />

						<h:outputText value="Nombre" />
						<h:outputText
							value="#{mantenimientosMb.tipoProductoConsulta.nombre}" />

						<h:outputText value="Descripcion" />
						<h:outputText
							value="#{mantenimientosMb.tipoProductoConsulta.descripcion}" />

					</p:panelGrid>
				</p:outputPanel>
			</p:dialog>

			<p:dialog header="Editar tipo de producto"
				widgetVar="editarTipoProductoDialog" modal="false" showEffect="fade"
				hideEffect="fade" resizable="false">
				<p:outputPanel id="editarTipoProductoOutputPanel"
					style="text-align:center;">
					<p:panelGrid columns="2"
						rendered="#{mantenimientosMb.tipoProductoConsulta!=null}">
						<h:outputText value="Id:" />
						<h:outputText
							value="#{mantenimientosMb.tipoProductoConsulta.tipoProductoId}" />

						<h:outputText value="Nombre" />
						<p:inputText
							value="#{mantenimientosMb.tipoProductoConsulta.nombre}">
							<p:ajax event="change" process="@this" />
						</p:inputText>

						<h:outputText value="Descripcion" />
						<p:inputText
							value="#{mantenimientosMb.tipoProductoConsulta.descripcion}">
							<p:ajax event="change" process="@this" />
						</p:inputText>
					</p:panelGrid>
					<p:commandButton
						action="#{mantenimientosMb.actualizarTipoProducto}"
						oncomplete="PF('editarTipoProductoDialog').hide()" process="@this"
						icon="fa fa-save" update="msgs,basic,tipoProductoOutputPanel" />
				</p:outputPanel>
			</p:dialog>



		</h:form>

	</ui:define>
</ui:composition>