<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Menu de aplicacion</title>
</h:head>
<h:body>
<h:form>
	<p:menu toggleable="true">
		<p:submenu label="Mantenimientos">
			<p:menuitem value="Tipo de Producto" outcome="m-tipo-producto"
				icon="ui-icon-home" />
			<p:menuitem value="Hola Mundo" outcome="HolaMundoPrime.xhtml"
				icon="ui-icon-home" />
			<p:menuitem value="Producto" outcome="m-producto.xhtml"
				icon="ui-icon-home" />
			<p:menuitem value="Cerrar sesion" action="#{loginMb.cerrarSesion}"
				icon="ui-icon-home" />	
		</p:submenu>
	</p:menu>
	</h:form>
</h:body>
</html>